#                                        BUSINESS PROBLEM-1

In [1]:
#Import packages

In [31]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [3]:
#Import  loans data

In [4]:
loan_df = pd.read_csv('C://Users//sandisk//Downloads//DataScience using PYTHON//Case Studies//Basic Statistics - Hypothesis Testing//4. Basic Statistics - Hypothesis Testing//LoansData.csv//')

In [5]:
loan_df.dtypes

Amount.Requested                  float64
Amount.Funded.By.Investors        float64
Interest.Rate                      object
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio               object
State                              object
Home.Ownership                     object
Monthly.Income                    float64
FICO.Range                         object
Open.CREDIT.Lines                 float64
Revolving.CREDIT.Balance          float64
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
dtype: object

In [6]:
loan_df['Interest.Rate'] = loan_df['Interest.Rate'].str.rstrip('%').astype('float')

In [7]:
loan_df.duplicated().sum()

0

In [8]:
loan_df.isnull().sum()

Amount.Requested                   1
Amount.Funded.By.Investors         1
Interest.Rate                      2
Loan.Length                        0
Loan.Purpose                       0
Debt.To.Income.Ratio               1
State                              0
Home.Ownership                     1
Monthly.Income                     1
FICO.Range                         2
Open.CREDIT.Lines                  3
Revolving.CREDIT.Balance           3
Inquiries.in.the.Last.6.Months     3
Employment.Length                 77
dtype: int64

In [9]:
loan_df['Amount.Requested'].fillna(loan_df['Amount.Requested'].mean(), inplace=True)
loan_df['Interest.Rate'].fillna(loan_df['Interest.Rate'].mean(), inplace=True)

##### a. Intrest rate is varied for different loan amounts (Less interest charged for high loan amounts)

In [10]:
#Step 1: Hypothesis testing

#Null Hypothesis
#Ho: There is no significant difference in interest rates between high and low loan amounts.

#Alternate Hypothesis
#Ha: There is a significant difference in interest rates

In [11]:
#Step 2: Deciding the type of test

#T-Test(Two sample independend)

In [12]:
#Step 3: Choosing CI

#CI 95%(0.95)
#Error region or alpha value - 5% (0.05)

In [13]:
#Step 4: Performing the test

In [14]:
mean_loan_amount = loan_df['Amount.Requested'].mean()

low_loan_amounts = loan_df[loan_df['Amount.Requested'] <= mean_loan_amount]
high_loan_amounts = loan_df[loan_df['Amount.Requested'] > mean_loan_amount]

In [15]:
stats.ttest_ind(low_loan_amounts['Interest.Rate'], high_loan_amounts['Interest.Rate'])

TtestResult(statistic=-14.679754658310323, pvalue=7.350432695296437e-47, df=2498.0)

In [16]:
#Step 5: Conclusion

# The value of p is 0.00000000000000000000000000000000000000000000735043270%

#The value of p is very much less than the error region 5%
#We fail to reject the Alternate Hypothesis Ha
#There is a significant difference in interest rates

##### b. Loan length is directly effecting intrest rate.

In [17]:
loan_df['Loan.Length'].unique()

array(['36 months', '60 months'], dtype=object)

In [18]:
#Step 1: Hypothesis Testing

#Null hypothesis (Ho): Loan length does not affect the interest rate.
#Alternative hypothesis (Ha): Loan length significantly affects the interest rate.

In [19]:
#Step 2: Deciding the type of test

#T-Test(Two sample independend)

In [20]:
#Step 3: Choosing CI

#CI 95%(0.95)
#Error region or alpha value - 5% (0.05)

In [21]:
#Step 4: Performing the test

In [22]:
length_36 = loan_df.loc[loan_df['Loan.Length'] == '36 months','Interest.Rate']
length_60 = loan_df.loc[loan_df['Loan.Length'] == '60 months','Interest.Rate']

In [23]:
stats.ttest_ind(a = length_36, b = length_60)

TtestResult(statistic=-23.41049023613487, pvalue=9.549596064332559e-110, df=2498.0)

In [24]:
#Step 5: Conclusion

#The value of p is very much less than error region
#We fail to reject alternate Hypothesis
#Loan length significantly affects the interest rate.

##### c. Inrest rate varies for different purpose of loans

In [25]:
loan_df['Loan.Purpose'].unique()

array(['debt_consolidation', 'credit_card', 'other', 'moving', 'car',
       'vacation', 'home_improvement', 'house', 'major_purchase',
       'educational', 'medical', 'wedding', 'small_business',
       'renewable_energy'], dtype=object)

In [26]:
#Step 1: Hypothesis testing

#Null Hypothesis(Ho): Interest rates for all the purposes are same
#Alternate Hypothesis(Ha): Interest rate vaies for different purposes

In [27]:
#Step 2 : Annova / F-test
#More than two groups are involved in the study

In [28]:
#Step 3 : CI- 95% - 0.95
#Error: 5% - 0.05 - alpha value

In [29]:
#Step 4 : Performing the tests

In [30]:
s1 = loan_df.loc[loan_df['Loan.Purpose']=='debt_consolidation','Interest.Rate']
s2 = loan_df.loc[loan_df['Loan.Purpose']=='credit_card','Interest.Rate']
s3 = loan_df.loc[loan_df['Loan.Purpose']=='other','Interest.Rate']
s4 = loan_df.loc[loan_df['Loan.Purpose']=='moving','Interest.Rate']
s5 = loan_df.loc[loan_df['Loan.Purpose']=='car','Interest.Rate']
s6 = loan_df.loc[loan_df['Loan.Purpose']=='vacation','Interest.Rate']
s7 = loan_df.loc[loan_df['Loan.Purpose']=='home_improvement','Interest.Rate']
s8 = loan_df.loc[loan_df['Loan.Purpose']=='house','Interest.Rate']
s9 = loan_df.loc[loan_df['Loan.Purpose']=='major_purchase','Interest.Rate']
s10 = loan_df.loc[loan_df['Loan.Purpose']=='medical','Interest.Rate']
s11 = loan_df.loc[loan_df['Loan.Purpose']=='wedding','Interest.Rate']
s12 = loan_df.loc[loan_df['Loan.Purpose']=='small_business','Interest.Rate']
s13 = loan_df.loc[loan_df['Loan.Purpose']=='renewable_energy','Interest.Rate']
s14 = loan_df.loc[loan_df['Loan.Purpose']=='educational','Interest.Rate']

In [31]:
stats.f_oneway(s1,s2,s3,s4,s5,s6,s7,s8,s9,s10,s11,s12,s13,s14)

F_onewayResult(statistic=7.4826387840974355, pvalue=1.1599665535989115e-14)

In [32]:
#Step 5: Conclusion

#The value of p 0.0000000000000115996 is very much less than error region
#We fail to reject the Alternate Hypothesis
#Interest rate vaies for different purposes

##### d. There is relationship between FICO scores and Home Ownership. It means that, People with owning home will have high FICO scores.

In [33]:
#Step 1 : Hypothesis testing

#Null hypothesis (Ho): There is no relationship between FICO scores and home ownership status.
#Alternative hypothesis (Ha): There is a significant relationship between FICO scores and home ownership status.

In [34]:
#Step 2: Test Statistics

#Non_Parametric tests - Chisquare(Test of independence)

In [35]:
#Step 3: CI - 95% (0.95)
#Error region - 5% (0.05) - alpha value

In [36]:
#Step 4: Performing test statistic

In [37]:
stats.chi2_contingency?

In [38]:
loan_df[['FICO.Range','Home.Ownership']]

     FICO.Range Home.Ownership
0       735-739       MORTGAGE
1       715-719       MORTGAGE
2       690-694       MORTGAGE
3       695-699       MORTGAGE
4       695-699           RENT
...         ...            ...
2495    705-709       MORTGAGE
2496    740-744            OWN
2497    680-684       MORTGAGE
2498    675-679           RENT
2499    670-674           RENT

[2500 rows x 2 columns]

In [39]:
pd.crosstab(index = loan_df['FICO.Range'], columns = loan_df['Home.Ownership'])

Home.Ownership  MORTGAGE  NONE  OTHER  OWN  RENT
FICO.Range
640-644                0     0      0    1     4
645-649                1     0      0    0     2
650-654                1     0      0    0     0
655-659                0     0      1    0     3
660-664               41     0      0   17    67
665-669               52     0      0   18    75
670-674               67     0      1   13    90
675-679               79     0      1   11    75
680-684               55     0      2    9    91
685-689               61     0      0   10    65
690-694               55     0      0   10    75
695-699               68     0      0   10    75
700-704               60     0      0   12    59
705-709               66     0      0   12    56
710-714               54     0      0   10    47
715-719               46     0      0    2    45
720-724               49     0      0    1    64
725-729               48     0      0    5    41
730-734               46     0      0    7    41
735-739               30     0      0    6    29
740-744               26     0      0    4    23
745-749               26     0      0    7    21
750-754               32     0      0    4    25
755-759               28     0      0    6    12
760-764               28     0      0    4    14
765-769               22     0      0    3    11
770-774               12     0      0    1     4
775-779               13     0      0    3     6
780-784               21     0      0    3     4
785-789               12     0      0    2     5
790-794               15     0      0    1     4
795-799                7     0      0    1     5
800-804                7     1      0    3     2
805-809                6     0      0    2     3
810-814                5     0      0    1     2
815-819                6     0      0    0     0
820-824                0     0      0    1     0
830-834                1     0      0    0     0

In [40]:
stats.chi2_contingency(pd.crosstab(index = loan_df['FICO.Range'], columns = loan_df['Home.Ownership']))

Chi2ContingencyResult(statistic=473.05246368346025, pvalue=1.2021592010244615e-35, dof=148, expected_freq=array([[2.29475370e+00, 2.00240288e-03, 1.00120144e-02, 4.00480577e-01,
        2.29275130e+00],
       [1.37685222e+00, 1.20144173e-03, 6.00720865e-03, 2.40288346e-01,
        1.37565078e+00],
       [4.58950741e-01, 4.00480577e-04, 2.00240288e-03, 8.00961153e-02,
        4.58550260e-01],
       [1.83580296e+00, 1.60192231e-03, 8.00961153e-03, 3.20384461e-01,
        1.83420104e+00],
       [5.73688426e+01, 5.00600721e-02, 2.50300360e-01, 1.00120144e+01,
        5.73187825e+01],
       [6.65478574e+01, 5.80696836e-02, 2.90348418e-01, 1.16139367e+01,
        6.64897877e+01],
       [7.84805767e+01, 6.84821786e-02, 3.42410893e-01, 1.36964357e+01,
        7.84120945e+01],
       [7.61858230e+01, 6.64797757e-02, 3.32398879e-01, 1.32959551e+01,
        7.61193432e+01],
       [7.20552663e+01, 6.28754505e-02, 3.14377253e-01, 1.25750901e+01,
        7.19923909e+01],
       [6.24173008e+01, 5.44653584e-02, 2.72326792e-01, 1.08930717e+01,
        6.23628354e+01],
       [6.42531037e+01, 5.60672807e-02, 2.80336404e-01, 1.12134561e+01,
        6.41970364e+01],
       [7.02194634e+01, 6.12735282e-02, 3.06367641e-01, 1.22547056e+01,
        7.01581898e+01],
       [6.01225471e+01, 5.24629555e-02, 2.62314778e-01, 1.04925911e+01,
        6.00700841e+01],
       [6.14993993e+01, 5.36643973e-02, 2.68321986e-01, 1.07328795e+01,
        6.14457349e+01],
       [5.09435322e+01, 4.44533440e-02, 2.22266720e-01, 8.89066880e+00,
        5.08990789e+01],
       [4.26824189e+01, 3.72446936e-02, 1.86223468e-01, 7.44893873e+00,
        4.26451742e+01],
       [5.23203845e+01, 4.56547857e-02, 2.28273929e-01, 9.13095715e+00,
        5.22747297e+01],
       [4.31413696e+01, 3.76451742e-02, 1.88225871e-01, 7.52903484e+00,
        4.31037245e+01],
       [4.31413696e+01, 3.76451742e-02, 1.88225871e-01, 7.52903484e+00,
        4.31037245e+01],
       [2.98317982e+01, 2.60312375e-02, 1.30156187e-01, 5.20624750e+00,
        2.98057669e+01],
       [2.43243893e+01, 2.12254706e-02, 1.06127353e-01, 4.24509411e+00,
        2.43031638e+01],
       [2.47833400e+01, 2.16259511e-02, 1.08129756e-01, 4.32519023e+00,
        2.47617141e+01],
       [2.79959952e+01, 2.44293152e-02, 1.22146576e-01, 4.88586304e+00,
        2.79715659e+01],
       [2.11117341e+01, 1.84221065e-02, 9.21105326e-02, 3.68442131e+00,
        2.10933120e+01],
       [2.11117341e+01, 1.84221065e-02, 9.21105326e-02, 3.68442131e+00,
        2.10933120e+01],
       [1.65222267e+01, 1.44173008e-02, 7.20865038e-02, 2.88346015e+00,
        1.65078094e+01],
       [7.80216260e+00, 6.80816980e-03, 3.40408490e-02, 1.36163396e+00,
        7.79535443e+00],
       [1.00969163e+01, 8.81057269e-03, 4.40528634e-02, 1.76211454e+00,
        1.00881057e+01],
       [1.28506207e+01, 1.12134561e-02, 5.60672807e-02, 2.24269123e+00,
        1.28394073e+01],
       [8.72006408e+00, 7.60913096e-03, 3.80456548e-02, 1.52182619e+00,
        8.71245495e+00],
       [9.17901482e+00, 8.00961153e-03, 4.00480577e-02, 1.60192231e+00,
        9.17100521e+00],
       [5.96635963e+00, 5.20624750e-03, 2.60312375e-02, 1.04124950e+00,
        5.96115338e+00],
       [5.96635963e+00, 5.20624750e-03, 2.60312375e-02, 1.04124950e+00,
        5.96115338e+00],
       [5.04845815e+00, 4.40528634e-03, 2.20264317e-02, 8.81057269e-01,
        5.04405286e+00],
       [3.67160593e+00, 3.20384461e-03, 1.60192231e-02, 6.40768923e-01,
        3.66840208e+00],
       [2.75370445e+00, 2.40288346e-03, 1.20144173e-02, 4.80576692e-01,
        2.75130156e+00],
       [4.58950741e-01, 4.00480577e-04, 2.00240288e-03, 8.00961153e-02,
        4.58550260e-01],
       [4.58950741e-01, 4.00480577e-04, 2.00240288e-03, 8.00961153e-02,
        4.58550260e-01]]))

In [41]:
(38-1)*(5-1)

148

In [42]:
#Step 5: Conclusion

#The value of dof(degrees of freedom) is 148
#array is the expected table value
#The p value is very much less than the error region

#We fail to reject the Alternate Hypothesis
#There is a significant relationship between FICO scores and home ownership status.

## BUSINESS PROBLEM 2

In [43]:
price_quotes = pd.read_csv('C://Users//sandisk//Downloads//DataScience using PYTHON//Case Studies//Basic Statistics - Hypothesis Testing//4. Basic Statistics - Hypothesis Testing//Price_Quotes.csv//')

In [44]:
price_quotes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order_Number  12 non-null     int64
 1   Barry_Price   12 non-null     int64
 2   Mary_Price    12 non-null     int64
dtypes: int64(3)
memory usage: 420.0 bytes

##### We would like to assess if there is any difference in the average price quotes provided by Mary and Barry.

In [45]:
#Step 1 : Hypothesis Testing

#Null hypothesis (Ho): There is no difference in the average price quotes provided by Mary and Barry
#Alternative hypothesis (Ha): There is a difference in the average price quotes provided by Mary and Barry

In [46]:
#Step 2 :Test Statistics

#T-Test(Two sample dependend)

In [47]:
#Step 3 : Choosing CI - 95% (0.95)
#Error : 5% (0.05)- alpha value

In [48]:
#Step 4: Performing the test statistic

In [49]:
stats.ttest_rel(price_quotes['Mary_Price'], price_quotes['Barry_Price'])

TtestResult(statistic=-2.5213765108923494, pvalue=0.02840588045242053, df=11)

In [50]:
#Step 5: Conclusion

#The p value is smaller than  the alpha region
#We fail to reject alternate Hypothesis 
#There is a difference in the average price quotes provided by Mary and Barry

## BUSINESS PROBLEM 3

In [51]:
treat_fac = pd.read_csv('C://Users//sandisk//Downloads//DataScience using PYTHON//Case Studies//Basic Statistics - Hypothesis Testing//4. Basic Statistics - Hypothesis Testing//Treatment_Facility.csv//')

In [52]:
treat_fac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Month              20 non-null     int64
 1   Reengineer         20 non-null     object
 2   Employee_Turnover  20 non-null     float64
 3   VAR4               20 non-null     float64
 4   VAR5               20 non-null     float64
dtypes: float64(3), int64(1), object(1)
memory usage: 932.0+ bytes

##### Determine what effect, if any, the reengineering effort had on the incidence behavioral problems and staff turnover. i.e To determine if the reengineering effort changed the critical incidence rate. Is there evidence that the critical incidence rate improved?

In [ ]:
#1.Critical Incidence Rate

In [ ]:
#Step 1: Hypothesis testing

#Null hypothesis (Ho): The reengineering effort had no effect on the critical incidence rate.

#Alternative hypothesis (Ha): The reengineering effort had a significant effect on the critical incidence rate.

In [ ]:
#Step 2: Test statistic

#T-Test(Two sample independend)

In [ ]:
#Step 3 :  Choosing CI - 95% (0.95)
#Error : 5% (0.05)- alpha value

In [ ]:
#Step 4: Performing the test statistic

In [54]:
reeng_prior = treat_fac[treat_fac['Reengineer'] == 'Prior']
reeng_post = treat_fac[treat_fac['Reengineer'] == 'Post']

In [55]:
stats.ttest_ind(reeng_prior['VAR5'],reeng_prior['VAR5'])

TtestResult(statistic=0.0, pvalue=1.0, df=24.0)

In [ ]:
#Step 5: Conclusion

#The p-value is greater than the error region
#We fail to reject null hypothesis
#The reengineering effort had a significant effect on the critical incidence rate.

In [ ]:
#2.Employee Turnover

In [ ]:
#Step 1: Hypothesis testing

#Null hypothesis (Ho): The reengineering effort had no effect on employee turnover rates.
#Alternative hypothesis (Ha): The reengineering effort had a significant effect on employee turnover rates.

In [ ]:
#Step 2: Test statistic

#T-Test(Two sample independend)

In [ ]:
#Step 3 :  Choosing CI - 95% (0.95)
#Error : 5% (0.05)- alpha value

In [ ]:
#Step 4: Performing the test statistic

In [56]:
stats.ttest_ind(reeng_prior['Employee_Turnover'], reeng_post['Employee_Turnover'])

TtestResult(statistic=-1.770306704753604, pvalue=0.09361109345535304, df=18.0)

In [ ]:
#Step 5: Conclusion

#The p-value is greater than the error region
#We fail to reject the null hypothesis
#The reengineering effort had no effect on employee turnover rates.

In [ ]:
#3.TRFF(temporarily removed from the facility)

In [ ]:
#Step 1: Hypothesis testing

#Null hypothesis (H0): The reengineering effort had no effect on TRFF%.
#Alternative hypothesis (H1): The reengineering effort had a significant effect on TRFF%.

In [ ]:
#Step 2: Test statistic

#T-Test(Two sample independend)

In [ ]:
#Step 3 :  Choosing CI - 95% (0.95)
#Error : 5% (0.05)- alpha value

In [ ]:
#Step 4: Performing the test statistic

In [57]:
stats.ttest_ind(reeng_prior['VAR4'], reeng_post['VAR4'])

TtestResult(statistic=2.783398448880451, pvalue=0.012265082138734354, df=18.0)

In [ ]:
#Step 5: Conclusion

#The p-value is less than the error region
#We fail to reject the alternate hypothesis
#The reengineering effort had a significant effect on TRFF%.

## BUSINESS PROBLEM 4

In [58]:
prior_asses = pd.read_csv('C://Users//sandisk//Downloads//DataScience using PYTHON//Case Studies//Basic Statistics - Hypothesis Testing//4. Basic Statistics - Hypothesis Testing//Priority_Assessment.csv//')

In [59]:
prior_asses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 642 entries, 0 to 641
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Days      642 non-null    float64
 1   Priority  642 non-null    object
dtypes: float64(1), object(1)
memory usage: 10.2+ KB

In [60]:
prior_asses.sample(5)

     Days Priority
261   0.3      Low
145   0.3   Medium
509   0.4     High
102   0.2     High
228   0.5   Medium

In [61]:
prior_asses['Priority'].unique()

array(['High', 'Medium', 'Low'], dtype=object)

#### We will focus on the prioritization system. If the system is working, then high priority jobs, on average, should be completed more quickly than medium priority jobs, and medium priority jobs should be completed more quickly than low priority jobs. Use the data provided to determine whether this is, in fact, occurring.

In [ ]:
#Step 1: Hypothesis testing

#Null hypothesis (H0): 
#There is no significant difference in the average completion time between high, medium, and low priority jobs.

#Alternative hypothesis (H1):
#There is a significant difference in the average completion time between high, medium, and low priority jobs.

In [ ]:
#Step 2 : Test statistic

#Annova / F-test

In [ ]:
#Step 3 : CI- 95% - 0.95
#Error: 5% - 0.05 - alpha value

In [ ]:
#Step 4 : Performing test statistic

In [62]:
s1 = prior_asses.loc[prior_asses['Priority']=='High', 'Days']
s2 = prior_asses.loc[prior_asses['Priority']=='Medium', 'Days']
s3 = prior_asses.loc[prior_asses['Priority']=='Low', 'Days']

In [63]:
stats.f_oneway(s1,s2,s3)

F_onewayResult(statistic=1.812311010076072, pvalue=0.16411459461716182)

In [ ]:
#Step 5: Conclusion

#The p-value is greater than the error region
#We fail to reject the Null Hypothesis
#There is no significant difference in the average completion time between high, medium, and low priority jobs.

## BUSINESS PROBLEM 5

In [7]:
films = pd.read_csv('C://Users//sandisk//Downloads//DataScience using PYTHON//Case Studies//Basic Statistics - Hypothesis Testing//4. Basic Statistics - Hypothesis Testing//Films.csv//')

In [8]:
films.dtypes

_rowstate_          int64
Movie              object
Gender             object
Marital_Status     object
Sinage            float64
Parking           float64
Clean             float64
Overall           float64
Age               float64
Income            float64
Hear_About         object
dtype: object

In [68]:
films.isnull().sum()

_rowstate_         0
Movie              0
Gender             0
Marital_Status     2
Sinage             2
Parking            2
Clean              3
Overall            2
Age                2
Income            16
Hear_About         7
dtype: int64

In [77]:
films.duplicated().sum()

46

##### What is the overall level of customer satisfaction?

In [16]:
satisfaction_columns = ['Sinage', 'Parking', 'Clean', 'Overall']
for col in satisfaction_columns:
    films[col] = films[col].astype('category')

In [18]:
descriptive_stats = films[satisfaction_columns].describe()
descriptive_stats

        Sinage  Parking  Clean  Overall
count    328.0    328.0  327.0    328.0
unique     5.0      5.0    5.0      5.0
top        2.0      2.0    2.0      2.0
freq     156.0    153.0  152.0    160.0

In [19]:
modes = films[satisfaction_columns].mode().iloc[0]
modes

Sinage     2.0
Parking    2.0
Clean      2.0
Overall    2.0
Name: 0, dtype: category
Categories (5, float64): [1.0, 2.0, 3.0, 4.0, 5.0]

##### What factors are linked to satisfaction?

In [26]:
films.columns

Index(['_rowstate_', 'Movie', 'Gender', 'Marital_Status', 'Sinage', 'Parking',
       'Clean', 'Overall', 'Age', 'Income', 'Hear_About'],
      dtype='object')

In [ ]:
#Step 1: Hypothesis testing:

#Null Hypothesis:
#Ho: There is a significant association between satisfaction columns and demographic columns

#Alternate Hypothesis:
#Ha: There is no significant association between satisfaction columns and demographic columns

In [ ]:
#Step 2: Test Statistics

#Non_Parametric tests - Chisquare(Test of independence)

In [ ]:
#Step 3 : CI- 95% - 0.95
#Error: 5% - 0.05 - alpha value

In [ ]:
#Step 4: Performing the test statistic

In [28]:
satisfaction_columns = ['Sinage', 'Parking', 'Clean', 'Overall']

demographic_columns = ['Gender', 'Marital_Status', 'Age', 'Income']

for satisfaction in satisfaction_columns:
    for demographic in demographic_columns:
        
        contingency_table = pd.crosstab(data[demographic], data[satisfaction])

In [32]:
stats.chi2_contingency(contingency_table)

Chi2ContingencyResult(statistic=5.689397280419405, pvalue=0.6819780790955854, dof=8, expected_freq=array([[64.86900958, 68.92332268,  5.4057508 ,  0.45047923,  1.3514377 ],
       [37.72523962, 40.08306709,  3.14376997,  0.26198083,  0.78594249],
       [41.4057508 , 43.99361022,  3.45047923,  0.28753994,  0.86261981]]))

In [ ]:
#Step 5: Conclusion

#The p-value is greater than the error region
#We fail to reject the null hypothesis
# There is a significant association between satisfaction columns and demographic columns